<div ng-controller="IndexCtrl" class="centered">
    <ul class="nav nav-sidebar">
        <li><a href="#/tasks">My tasks</a></li>
        <li><a href="#/inbox">Inbox</a></li>
    </ul>
    <h3>Projects</h3>
    <ul class="nav nav-sidebar">
        <li ng-repeat="project in projects">
            <a href="#/projects/{{project.id}}">{{project.title}}</a>
        </li>
    </ul>
</div>