<div ng-controller="LoginCtrl">
    <div class="alert alert-danger" ng-show="error">
        <span>{{error}}</span>
    </div>
    <form class="col-sm-12" role="form" ng-submit="submit()">
        <h2 class="form-signin-heading">Please Sign in</h2>
        <input type="text" class="form-control" placeholder="Email" required="" autofocus="" name="email"
               ng-model="email">
        <input type="password" class="form-control" placeholder="Password" required="" name="password"
               ng-model="password">
        <input class="btn btn-success btn-block" type="submit" value="Sign In">
        <a class="btn btn-info btn-block" href="#/register">Sign Up</a>
    </form>
</div>