<div ng-controller="ProjectsCtrl">
    <ul class="nav nav-sidebar">
        <li ng-repeat="project in projects">
            <a href="#/projects/{{project.id}}">{{project.title}}</a>
        </li>
    </ul>
</div>