<div ng-controller="RegisterCtrl">
    <div class="alert alert-danger" ng-show="error">
        <span>{{error}}</span>
    </div>
    <form method="post"  class="form-signin" ng-submit="submit()">
        <h2 class="form-signin-heading">Sign Up</h2>
        <input type="text" class="form-control" placeholder="Username" required="" autofocus="" name="username">
        <input type="text" class="form-control" placeholder="Organization" required="" name="title">
        <input type="password" class="form-control" placeholder="Password" required="" name="password">
        <button class="btn btn-info btn-block" type="submit">Sign Up</button>
    </form>
</div>